<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>LSUIElement</key>
  <true/>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>WalkingPad needs Bluetooth to connect to your treadmill.</string>
  <key>NSBluetoothPeripheralUsageDescription</key>
  <string>WalkingPad needs Bluetooth to connect to your treadmill.</string>
</dict>
</plist>
